body{
    background-color: black;
    color: white;
    margin: 0;
}

img{
    width: 100%;
}

nav{
    background-color: antiquewhite;
    display: flex;
    height: 80px;
    justify-content: space-evenly;
}

nav a{
    color: indigo;
    font-size: 14pt;
    text-decoration: none;
}